@import url("./reset.css");

@font-face {
  font-family: "Editorial Old";
  src: url("./font/PPEditorialOld-Regular.woff2") format("woff2");
}

body {
  font-family: "Editorial Old", sans-serif;
  background-color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
}

canvas {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}
